<div>
  <h1 id="findBaby">You can find your baby at:</h1>
  <br />
  <h5 id="result"><%= @business %></h5>
  <img src="https://pbs.twimg.com/profile_images/694921357864386563/p0nF8Bj8.jpg" style="width:200px; height:200px;"/>
</div>
