<!DOCTYPE html>
<html>

<head>
<title> FoodBaby</title>
<link href = "style.css" rel="stylesheet" type="text/css">
</head>

<body>
<!-- fghfghfghfgh -->


<font
 font face="impact" color="#000066"  size="25">
<center>FoodBaby  </center>


</font>



<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br />

<center>
<font font face="arial" size="2">
Created for HackGTeeny by Arsene Lakpa, Joseph Hooper, and Melat Hagos
</font>
</center>




</body>

</html>
