<!DOCTYPE html>
<html>

  <head>
    <title> FoodBaby</title>
    <link href = "style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="icon" href="FoodBaby.png">
  </head>

  <body>
    <img class="boy" src="foodbaby.gif" alt="Gif of food baby."/>
    <div id="title">FoodBaby</div>
    <img class="boy" src="foodbaby.gif" alt="Gif of food baby."/>

    <h2>
    Created for HackGTeeny by Arsene Lakpa, Joseph Hooper, and Melat Hagos
    </h2>



  </body>

</html>
