<!DOCTYPE html>
<html>

<head>
<title> FoodBaby</title>
<link href = "style.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>

<body>
<!-- fghfghfghfgh -->

<h1>FoodBaby</h1>



<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<h2>
Created for HackGTeeny by Arsene Lakpa, Joseph Hooper, and Melat Hagos
</h2>



</body>

</html>
