@font-face { font-family: bubblebutt; src: url('bubblebutt.ttf'); }

html {

  /*background-color: #00539F;*/

  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  background: linear-gradient(white,#006699);
  width: 100%;
  height: 100%;

}

#title {
  font-family: bubblebutt;
  color: #006699;
  text-align: center;
  font-size: 130px;
  letter-spacing: 4px;
  margin-top: 20px;
  display: inline;
  margin-left: 60px;
  margin-right: 60px;
}

body {
  text-align: center;
}

.boy {
  width:100px;
  height:100px;

}

h2{
  font-family: 'Josefin Sans';
  color: #99ddff;
  font-size: 13px;
  letter-spacing: 2px;
  position: fixed;
  bottom: 0;
  text-align: center;
  right: 0;
  left: 0;
}

#babyDetails {

  border-style: solid;
  border-color: #006699;
  background-color: #006699;
  width: 350px;
  height: 250px;
  overflow:hidden;
  border-width: medium;
  border-radius: 10px;
  font-family: 'Josefin Sans';
  color: #99ddff;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

#findBaby {
  font-family: 'Josefin Sans';
  color: #99ddff;
}

#result {
  font-family: 'Josefin Sans';
  color: #99ddff;
  font-size: 40px;
  margin: 0px;
  margin-bottom: 10px;
}

/*h1{

  font-size: 60px;

  text-align: center;

  margin: 0;

  padding: 20px 0;

  color: #b9cdd8;

  text-shadow: 3px 3px 1px black
}*/
