html {

  /*background-color: #00539F;*/

  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */

  @font-face { font-family: bubblebutt; src: url('bubblebuttacad.otf'); }

}

body {
  background: linear-gradient(blue,white);
  /*background-color: red;*/
}

h1{

  font-size: 60px;

  text-align: center;

  margin: 0;

  padding: 20px 0;

  color: #b9cdd8;

  text-shadow: 3px 3px 1px black
}
